extends layout

block content
  h1= title
  script(type="text/javascript" src="javascripts/app.js")
  script(type="text/javascript" src="jointjs/jquery.min.js")
  script(type="text/javascript" src="jointjs/lodash.min.js")
  script(type="text/javascript" src="jointjs/backbone-min.js")
  script(type="text/javascript" src="jointjs/joint.js")
  input(id="button" type="button" value="button")
  
