extends layout

block content    
  svg#node-editor-container
  script(type="text/javascript" src="d3/d3.js")
  script(type="text/javascript" src="javascripts/view-elements/nodes.js")
  script(type="text/javascript" src="javascripts/view-elements/anchors.js")
  script(type="text/javascript" src="javascripts/app.js")
