doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vis/dist/vis.min.css')
    script(type='text/javascript' src='./bower_components/vis/dist/vis.min.js')
  body
    block content
