doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type="text/javascript" src="jsplumb/jsPlumb-2.0.4.js")
  body
    block content
