.link { stroke: #ccc; }
.nodetext { pointer-events: none; font: 10px sans-serif; }

#conteneur {
   padding: 20px;
   width:80%; height: 200px;
   border: 1px solid gray;
   position: relative;
}

.item {
   height:80px; width: 80px;
   border: 1px solid blue;
   position: absolute;
}
